<div *ngIf="distributed">
  <app-game [P1]="P1" [P2]="P2"></app-game>

  <div id="P1div">

    <h4>Player 1 deck (reverted to taken cards):</h4>
    <mat-list>
      <mat-list-item *ngFor="let card of P1._deck">
        <p mat-line>{{card.name}} of {{card.suit}}s</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div id="P2div">
    <h4>Player 2 deck (reverted to taken cards):</h4>
    <mat-list>
      <mat-list-item *ngFor="let card of P2._deck">
        <p mat-line>{{card.name}} of {{card.suit}}s</p>
      </mat-list-item>
    </mat-list>
  </div>


</div>
