#P1div {
  margin-left: 10%;
  width: 40%;
  background: #ff868d;
  float: left;
}

#P2div {
  margin-right: 10%;
  width: 40%;
  background: #add8e6;
  float: right;
}

#buttons {
  margin: auto;
  width: 25%;
}

.playbutton {
  margin: auto;
  width: 10%;
}
