<div *ngIf="distributed">
  <div>
    <button *ngIf="!playclicked" class="playbtn" mat-raised-button color="primary" (click)="play_click()">Play</button>

    <div *ngIf="playclicked">
      <mat-checkbox *ngIf="playclicked" class="play-cont">Play continously</mat-checkbox>
      <!--<button *ngIf="playclicked && play-cont" class="playbtn" mat-raised-button color="primary" (click)="blablabl()">Play 1 tour</button>-->

      <p>
        Player 1 plays {{game.tmp1.name}} of {{game.tmp1.suit}}s
      </p>
      <p>
        Player 2 plays {{game.tmp2.name}} of {{game.tmp2.suit}}s
      </p>
      <h4 *ngIf="game.tmp1.value==game.tmp2.value">WAR!</h4>


      <div *ngIf="game.winner==1||game.winner==2">
        <h3>Player {{game.winner}} win!</h3>
        <h4>After {{game.round}} rounds</h4>
      </div>
      <div *ngIf="game.winner==3">
        <h3>No winner!</h3>
        <h4>After {{game.round}} rounds</h4>
      </div>

    </div>
  </div>
  <app-game [playclicked]="playclicked"></app-game>

  <div id="P1div">
    <mat-list>
      <mat-list-item *ngFor="let card of P1._deck">
        <p mat-line>{{card.name}} of {{card.suit}}s</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div id="P2div">
    <mat-list>
      <mat-list-item *ngFor="let card of P2._deck">
        <p mat-line>{{card.name}} of {{card.suit}}s</p>
      </mat-list-item>
    </mat-list>
  </div>


</div>
