<div *ngIf="deck._deck.length>0">
  <mat-list>
    <mat-list-item *ngFor="let card of deck._deck">
      <p mat-line>Color: {{card.suit}} Value: {{card.value}} Name: {{card.name}}</p>
</mat-list-item>
  </mat-list>

  <button *ngIf="!shuffled" class="shufflebtn" mat-raised-button color="primary" (click)="shuffle_click()">Shuffle</button>

  <button *ngIf="shuffled" class="shufflebtn" mat-raised-button color="warn" (click)="distribute_click()">Distribute</button>
</div>

<app-players-deck [P1]="P1" [P2]="P2"></app-players-deck>
